#system-theme-settings .form-item label + select {
  margin-top: 0.5em;
}
#system-theme-settings .form-item .description {
  color: #999;
}

/* Entity List Drag n' Drop Cues */
.entities-list .rendered-entity {
  background: linear-gradient(to bottom, #fcfcfc 0%,#eaeaea 100%);
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0;
}
.entities-list .rendered-entity .button {
  margin: 10px 10px 4px 0;
  display: inline-block;
}
.entities-list .rendered-entity .field--name-field-media-image {
  float: left;
  margin-right: 30px;
}
.entities-list .rendered-entity .field--name-name {
  font-size: 15px;
  margin: 5px 0;
}
.entities-list .rendered-entity .contextual-region {
  padding: 5px 0;
}
.entities-list .rendered-entity .contextual-region:hover, .entities-list .rendered-entity .contextual-region:focus {
  background: rgba(0,0,0,0.1);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 100%);
}
.entities-list .rendered-entity.ui-sortable-handle {
  position: relative;
  border: 2px dashed #bbb;
  padding-left: 40px;
}
/*
.entities-list {
  counter-reset: draggables;
}
.entities-list .rendered-entity.ui-sortable-handle:before {
  counter-increment: draggables;
  content: counter(draggables);
  position: absolute;
	left: -9px;
	top: -8px;
	background: #fff;
	width: 18px;
	height: 18px;
	border-radius: 20em;
	text-align: center;
	line-height: 17px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
 */
.entities-list .rendered-entity.ui-sortable-handle:after {
  display: inline-block;
	font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
	font-size: inherit;
	speak: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f2f0';
	font-size: 20px;
	position: absolute;
	left: 10px;
	top: 52%;
	top: calc(50% - 10px);
	color: #333;
}

/* UI Autocomplete Bug Fixes */
.ui-autocomplete li:hover {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.ui-autocomplete li:hover a {
  color: #fff;
}
.ui-autocomplete.ui-menu .ui-state-focus, .ui-autocomplete.ui-menu .ui-state-active {
  margin-left: 0;
}
